@charset "utf-8";

/* 
    color
    배경색 : #1B1F3B / hover color : #f9f871
    버튼색 : #FFD700
    강조 text : #9932CC

    사이버 펑크 느낌
    #FF007F
    #32CD32
*/

#header {width: 100%; background-color: #1B1F3B; position: relative; z-index: 999;}
#header .headerInner {
    width: 1200px;
    height: 120px;
    margin: auto;
    color: #fff;
}
#header .headerInner .info {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .headerInner .info .logo {font-weight: bold; font-size: 20px;}
#header .headerInner .info .mypage a {color: #fff;}
#header .headerInner .info .mypage a:hover {color: #f9f871; text-decoration: underline;}

#header .headerInner nav {width: 100%; height: 55%; position: relative; display: flex;}
#header .headerInner nav > div {width: 23.5%; text-align: center; position: relative;  display: flex; justify-content: center; align-items: center;}

#header .headerInner nav div a {color: #fff; display: block; width: 50%;}

#header .headerInner nav .dropdownMenu {
	position: absolute;
	top: 100%;
	width: 100%;
	border-bottom-left-radius : 5px;
	border-bottom-right-radius : 5px;
}
#header .headerInner nav .dropdownMenu {
	display: none;
	width: 100%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #000;
    overflow: hidden;
	box-shadow: 0px 5px 7px #999;
}
#header .headerInner nav .dropdownMenu li {
	width: 100%;
	height: 30px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header .headerInner nav .dropdownMenu li a {color: #000; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
#header .headerInner nav .dropdownMenu li a:hover {background-color: #eee;}

#main {width: 100%;}

#main .mainInner {
    width: 1200px;
    margin: auto;
    padding: 50px 0;
    box-sizing: border-box;
}

#footer {
    font-size: 12px;
    width: 100%;
    height: 50px;
    background-color: #eee;
    bottom: 0;
}

#footer .footerInner {
    width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
