@charset "utf-8";

#main .listInner {width: 100%;}

#main .listInner ul {
    width: 100%;
    display: flex;
    border-radius: 10px;
}

#main .listInner ul:not(:last-child) {margin-bottom: 10px;}

#main .listInner ul li {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#main .listInner ul li:nth-child(1) {width: 5%;} /* no */
#main .listInner ul li:nth-child(2) {width: 50%;} /* 제목 */
#main .listInner ul li:nth-child(3) {width: 15%;} /* 작성자 */
#main .listInner ul li:nth-child(4) {width: 20%;} /* 작성일 */
#main .listInner ul li:nth-child(5) {width: 5%;} /* 조회수 */

#main .listInner .listTitle {background-color: #1B1F3B; color: #fff;}

#main .listInner .listContent {background-color: #eee;}