@charset "utf-8";

#main .listInner {width: 100%;}

#main .listInner ul {width: 100%; display: flex; border-radius: 5px;}

#main .listInner ul:not(:last-child) {margin-bottom: 10px;}

#main .listInner ul li {display: flex; height: 40px; align-items: center; justify-content: center; width: 100%;}

#main .listInner .listTitle {background-color: #1B1F3B; color: #fff;}

#main .listInner .listContent {background-color: #eee;}
#main .listInner .listContent a:hover {text-decoration: underline; color: #000;}

#main .listInner .listBigTitle {display: flex; justify-content: space-between; margin-bottom: 10px;}
#main .listInner .listBigTitle span {font-weight: bold;}