@charset "utf-8";

#main .rankingInner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

#main .rankingInner > div {width: 49%;}
#main .rankingInner > div:nth-child(-n+2) {margin-bottom: 3%;}
#main .rankingInner > div .gameTitle {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#main .rankingInner ul {
    width: 100%;
    display: flex;
    border-radius: 10px;
}

#main .rankingInner ul:not(:last-child) {margin-bottom: 10px;}


#main .rankingInner ul li {display: flex; height: 50px; align-items: center; justify-content: center;}

#main .rankingInner ul li:first-child {border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
#main .rankingInner ul li:last-child {border-top-right-radius: 10px; border-bottom-right-radius: 10px;}

#main .rankingInner ul li:nth-child(1) {width: 20%;}
#main .rankingInner ul li:nth-child(2) {width: 50%;}
#main .rankingInner ul li:nth-child(3) {width: 30%;}

#main .rankingInner .game1 .gameSubTitle {border: 2px solid steelblue; background-color: #fff; color: #000;}
#main .rankingInner .game2 .gameSubTitle {border: 2px solid tan; background-color: #fff; color: #000;}
#main .rankingInner .game3 .gameSubTitle {border: 2px solid teal; background-color: #fff; color: #000;}
#main .rankingInner .game4 .gameSubTitle {border: 2px solid thistle; background-color: #fff; color: #000;}

#main .rankingInner .game1 ul {background-color: steelblue; color: #fff;}
#main .rankingInner .game2 ul {background-color: tan; color: #fff;}
#main .rankingInner .game3 ul {background-color: teal; color: #fff;}
#main .rankingInner .game4 ul {background-color: thistle; color: #fff;}